# Python
__pycache__/
*.pyc
.env
venv/
*.zip
.DS_Store

# Model and Cache
*.bin
*.pt
*.pth
*.safetensors
*.h5
hf_cache/
*cache*
.cache/

# Data
datasets/
*.csv
*.tsv

# Results (allow specific results)
!results/*.csv
!./eval_results/*.json
